rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      // Allow access to the specific owner's email
      return request.auth != null && (request.auth.token.email == 'moincomp06@gmail.com' || request.auth.token.email == 'moincomp06@gmail.cm');
    }

    match /users/{userId} {
      allow read: if request.auth != null && (isAdmin() || request.auth.uid == userId);
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /reviews/{reviewId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && (isAdmin() || request.auth.uid == resource.data.userId);
    }
    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /orders/{orderId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null && (isAdmin() || request.auth.uid == resource.data.userId);
      allow update, delete: if isAdmin();
    }
    match /site_settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /visits/{visitId} {
      allow create: if true;
      allow read: if isAdmin();
    }

    match /settings/{settingId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /coupons/{couponId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}


